<html>
    <head>
        <script src="https://d10ajoocuyu32n.cloudfront.net/jquery-1.9.1.min.js"></script>
        <link rel='stylesheet' href='/static/showforum.css'>
        <script src='/static/showforum.js'></script>
    </head>
    <body>
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                {% for reaction in forum.reactions %}
                <li data-target="#myCarousel" data-slide-to="{{ reaction.id }}">
                    <span class='content'>{{ reaction.content }}</span>
                    <span class='name'>{{ reaction.name }}</span>
                </li>
                {% endfor %}
            </ol>
              <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">…</div>
                <div class="item">…</div>
                <div class="item">…</div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        <div id='header'>
            <h1>{{ forum.title }}</h1>
        </div>
        <div id='containercontainer'>
            {% for reaction in forum.reactions %}
            <div class='reactioncontainer'>
                <p class='reactioncontent'>{{ reaction.content }}</p>
                <p class='reactionname'>{{ reaction.name }}</p>
            </div>
        </div>
    </body>
</html>