@import url(http://fonts.googleapis.com/css?family=Marck+Script);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);
@import url(http://fonts.googleapis.com/css?family=Quando);

body {
    background-color: #E3E3E3;
}
#containercontainer {
    display: -webkit-flex;
    max-width: 100%;
}

.reactioncontainer {
    -webkit-flex: 1 1 auto;
    width: 20%;    
    margin: 0px auto 20px 20px;
    background-color: #454545;
    border-radius: 15px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FBFBFB;
    font-family: Quando;
}

.reactionname {
    font-family: Marck Script;
    text-align: right;
    color: #AEABAB;
    margin-bottom: 1px;
}
.reactioncontent {
    margin-top: 1px;
    text-align: center;
}
#header{
    font-family: Roboto Slab;
    text-align: center;
}